section
    h2(class="text-center m-3")='Agrega Producto'
    form(method="POST"
            action="/api/productos/nuevoProducto"
            class="m-3")
            div(class="container d-flex flex-column ")
                input(type="text" 
                name="name" 
                placeholder="Producto" 
                class="m-2")
                input(type="text" 
                name="thumbnail" 
                placeholder="Link de foto" 
                class="m-2")
                input(type="number" 
                name="price" 
                placeholder="Precio" 
                class="m-2")
                button(type="submit" 
                class="btn btn btn-primary m-2")='Agregar'