<script src="/socket.io/socket.io.js"></script>
<h1>Camisetas del Mundial 2022</h1>
    {{#if listExist}}
        <div class="container d-flex flex-row flex-wrap">
            {{#each list}}
                <div class="card tarjeta m-3" style="width: 18rem; margin: 1rem;">
                    <img src="{{thumbnail}}" class="card-img-top" alt="{{thumbnail}}">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">$ {{price}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
        {{else}}
            <div class="d-flex p-2 bd-highlight flex-wrap">
                <h1>No se encontraron elementos</h1>
            </div>    
    {{/if}}

{{>form}}

<div class="row">
    <div class="col">
        <ul id="chat">
            
        </ul>
    </div>
    <div class="col">
        <form action="" onsubmit="return addText(this)" class="mt-5">
            <input class="form-control" type="text" id="mensaje" name="mensaje" placeholder="Mensaje">
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <div class="col">
        <div id="#ppp" class="container d-flex flex-row flex-wrap">

        </div>
</div>

<script src="/js/client.js"></script>
