<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Desafio con Ejs</title>
</head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">
                        <img class="logo" src="../../public/images/t-shirt.jpg" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item m-3">
                                <a class="nav-link text-center" aria-current="page" href="carrito">Carrito</a>
                            </li>
                            <li class="nav-item m-3">
                                <a class="nav-link text-center" aria-current="page" href="perfil">Perfil</a>
                            </li>
                            <li class="nav-item m-3">
                                <a class="nav-link text-center" aria-current="page" href="#" onclick="goToLogOut()">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="container">
            <% if(email) { %>
                <h1>Bienvenido <%= email %></h1>
            <% }else{ %>
                <h1>No te logueaste</h1>
            <% } %>
        </section>
        
        <h1 class="text-center">Camisetas del Mundial 2022</h1>
        <div class="container d-flex flex-row flex-wrap" id="nacho">
            <% if(listaProductos.length > 0) {%>
                    <% listaProductos.forEach( prod => { %>
                        <div class="card tarjeta m-3" style="width: 18rem;">
                            <img src=<%= prod.thumbnail %> class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= prod.name %></h5>
                                <h5 class="card-title">$<%= prod.price %></h5>
                            </div>
                        </div>
                    <% }) %>
            <% }else{ %>
                <h2>No hay productos</h2>
            <% } %>
        </div>
        <div class="container justify-content-center m-3">
            <%- include('../partials/form.ejs')  %>
        </div>
    
        <div id="catalogo" class="container d-flex flex-row flex-wrap">
            

        </div>


        <footer>
            <%- include('../partials/footer.ejs', {mensajeFooter: 'Proyecto CoderHouse curso backend || Ignacio Laprida'})%>
        </footer>
        
        <script src="/js/client.js"></script>
    </body>
</html>